*.pyc
*.zip
*.py~
*.html~
*.db
TODO.txt
/templates/old
/comments-old
newsdb*.json
newsdb*.tgz
/.settings
/beautils
/containers
/configurator
/django
/django_authopenid
/registration
/superadmin
/uni_form
/userdb
/site_media
/site_media/admin
/site_media/buttons
/site_media/uni_form
/site_media/wn
/south
/templates/blocks
/templates/buttons
/templates/wn
